


#introduction-content {
  text-align: center;
}

.header-ege {
  font-family: 'El Messiri', sans-serif;
}

.view {
  background: url("https://mdbootstrap.com/img/Photos/Others/img (50).jpg")no-repeat center center;
  background-size: cover;
  height: 100vh;
}
